@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    
    margin:0;
    padding: 0;
}

/*Variaveis de cores*/
:root{

    --white:#fff;
    --dark1:#34344e; /*cor de background*/
    --dark2:#3a415a;
    --dark3:#566981;
    --dark4:#89a7b1;
    --dark5:#cbdad5;
    --dark6:#2f2f46;/*cor do header*/
    --cyan1:#70e3ea;
    

    /*
    --white:#fff;
    --color1:#F1F6F9;
    --color2:#394867;
    --color3:#212A3E;
    --color4: #9BA4B5;
    --color5: #A5D7E8;
    --color6: #87CBB9;*/
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(-dark2);
}
::-webkit-scrollbar-thumb{
    background: var(--dark3);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--dark4);
}
body{

    background-color: var(--dark1);
    height: 100vh;
    font-family: 'lato';

}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;  /*1 rem = 16px*/
    flex-wrap: wrap;
    padding: .2rem;
    background-color: var(--dark6);
    min-height: 50 px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.box-img-header{
    height: 100%;

}
.img-logo{
    max-width: 60px;/*largura maxima*/
    height: 100%;/*altura de 100%, para ocupar todo o header*/

}
nav{
    display: flex;
    gap: 2rem;
    justify-content: center;/*alinhar na horizontal*/
    align-items: center; /*alinhar na vertical*/
    flex-wrap: wrap;
}
.nav-links{
    text-decoration: none;
    color: var(--white);
   
}
.nav-links:hover{
    color: var(--dark4);
    transition: .4s;
}
.box-btn-actions{
    display: flex;
    gap: 1rem;
}

:is(button,.link-action){
    padding: .6rem;/*espaço entre a escrita e as bordas dos botões*/
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
}

.btn-actions{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
.btn-actions:hover{
    background-color: var(--dark3);
    border: 1px solid var(--dark3);
}
.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap:2rem;

}
section{
    padding: 4rem;

}
.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 650%;
    flex-wrap: wrap;

}
.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}
h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}
strong{
    color: var(--cyan1);
}
.first-section p{
    color: var(--white);
}
.box-img-main{
    max-width: 450px;
    padding: 1rem;
}
.img-profile{
    border-radius:50%;
    width: 100%;
}
:is(.second-section,.fourth-section){
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.second-section ul li{
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bolder;
}
.second-section ul li:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}   
.title{
    color: var(--dark5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.third-section > div img{
    width: 250px;
    border-radius: 10px;
}
.third-section > div p{/*tratando o paragrafo desta seção*/
    max-width: 600px;/*largura maxima*/
    color:var(--white);
    text-align: justify;/*justificar texto*/
}
footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    
}
#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
#my-projects-list a{
    text-decoration: none;
    color: var(--cyan1);
}
#my-projects-list a:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: pointer;
}
.img-who-am-i{
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}
.contact__svg:hover{
    fill:#89a7b1;
}